.common {
    position: absolute;
    top: 80px;
}
.form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    background: #4b77a1;
    border-radius: 5px;
}
td {
    width: 150%;
}