.header {
    position: relative;
    height: 60px;
    border-bottom: 2px solid #7B5427;
}
.section {
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    font: 12pt sans-serif;
    text-align: center;
}
.logo {
    position: absolute;
    left: 0;
}
.login-bar {
    position: absolute;
    bottom: 5px
}