<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
        "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">

<taglib>
    <tlib-version>1.0</tlib-version>
    <jsp-version>1.2</jsp-version>
    <short-name>utils</short-name>

    <uri>web-utility.tags</uri>

    <tag>
        <name>listmapping</name>
        <tag-class>by.training.task.taghandler.UrlServletMapping</tag-class>
        <body-content>JSP</body-content>
    </tag>

    <tag>
        <name>resolveurl</name>
        <tag-class>by.training.task.taghandler.UrlResourceMapping</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>url</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
</taglib>